.toppadding-sm{padding-top:30px}
.toppadding{padding-top: 50px;}
.bottompadding-sm{padding-bottom:30px}
.bottompadding{padding-bottom: 50px;}
allpadding{padding: 50px;}
allpadding-sm{padding:30px;}
.bgcolor-second{background-color:#B14949;}

.button-secondary{background-color:#B14949; }
